---
layout: default
---


<article>
  <header>
    <h1><%= data.title %></h1>
    <div>
      <% data.tags.each do |tag| %>
        <div class='tag'>#<%= tag %></div>
      <% end %>
    </div>
    <p>Published <%= data.date.strftime("%F") %></p>
  </header>
  <hr>
  <p>
    <%= yield %>
  </p>
</article>
