:root {
  --body-background: #f2f2f2;
  --body-color: #444;
  --heading-color: black;
  --action-color: #3F89BA;
  --primary-color: black;
  --primary-accent: #616161;
  --secondary-color: #3F7FBF;
  --border-radius: 0.25rem;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  margin: 0 8px;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: var(--action-color);
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
}

h1 {
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--heading-color);
  line-height: 1.2;
  margin: 0;
}

body > header {
  margin: 1rem;
  text-align: center;
}

body > header img {
  display: inline-block;
  width: 400px;
  max-width: 100%;
}

body > header > nav ul {
  margin: 2rem 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

body > nav a {
  text-decoration: none;
}

main {
  margin: 2rem auto 4rem;
  max-width: 80ch;
  padding: 25px 25px 50px;
  background: white;
  border-radius: var(--border-radius);

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

footer > a {
  transition: all 0.5s ease-out;
}

footer > a:hover {
  transform: scale(1.25);
}

footer  svg, path {
  stroke: var(--action-color);
  color: var(--action-color);
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}

.note {
  display: block;
  background-color: #ffd500;
  padding: 0.25rem;
  margin-bottom: 1rem;
  text-align: center;
}

div.posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

div.posts-grid > a {
  text-decoration: none;
}

div.posts-grid .card {
  border: 1px solid var(--primary-accent);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem;
  gap: 0.5rem;
}

div.posts-grid .card:hover {
  position: relative;
  top: -0.25rem;
  left: -0.25rem;
  box-shadow: var(--primary-accent) 0.25rem 0.25em;
}

div.posts-grid .card > h2, p {
  padding: 0;
  margin: 0;
}

div.posts-grid .card > span {
  font-size: 0.75rem;
  color: var(--primary-accent);
}

div.posts-grid .card > p {
  color: var(--primary-color);
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1.5rem;
  padding: 0.5rem 1rem;
}

article {
  padding: 0.25rem;
}

article > h1 {
  margin: 0;
  text-align: left;
}

article > hr {
  margin: 1rem 0;
}
