<a href="<%= @post.relative_url %>">
  <div class="card">
    <span>Published <%= @post.data.date.strftime("%F") %></span>
    <h2><%= @post.data.title %></h2>
    <p><%= @post.data.description %></p>
  </div>
</a>
