<div class="card project">
  <div>
    <h2><%= project.data.title %></h2>
    <small><%= project.data.role %></small>
  </div>
  <p><%= project.data.description %></p>
  <ul>
    <% project.data.tech&.each do |item| %>
      <li><%= item %></li>
    <% end %>
  </ul>
</div>
